.btn-primary {
	background-color: #666;
	border-color: gray;
}
.btn-primary:hover {
	background-color: gray;
	border-color: gray;
}
.form-control:focus{
	border-color: #666;
}
.inner{
	text-align: center;
	padding: 30px;
}

.regError {
    padding-left: 100px;
    margin-top: 20px;
}
/*.container{
	padding: 50px;
}*/
.from-group{
	margin-bottom: 10px;
}