{% extends 'base.html' %}
{% load static %}
{% load pagetag %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>权限管理</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/usercenter.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
    {% endblock %}
</head>
<body>
{% block main %}
    <div id="wrap" class="clearfix">
        <div class="live_wrap clearfix">
            <div class="u_header">
                <h1 class="f1">个人中心</h1>
            </div>
            <div class="u_main clearfix">
                <nav class="u_nav">
                    <div class="photo">
                        <p>
                            <img class="img-circle" src="{% static 'img/0001.jpg' %}">
                        </p>
                        <p>
                            <a href="#">0
                            </a>关注
                            <a href="#">0
                            </a>粉丝
                        </p>
                    </div>
                    <ul class="nav nav-pills nav-stacked" id="funclist">
                        <li id="myinfo" role="presentation"><a href="{% url 'mypersonalblog:usercenter' %}">我的资料</a>
                        </li>
                        <li id="writeblog" role="presentation"><a href="{% url 'mypersonalblog:writeblog' 0 %}">写博客</a>
                        </li>
                        <li id="blogctrl" role="presentation"><a
                                href="{% url 'mypersonalblog:articlectrl' '?page=1' %}">文章管理</a>
                        </li>
                        <li id="tagctrl" role="presentation"><a href="{% url 'mypersonalblog:tagctrl' %}">标签管理</a></li>
                        <li id="isadmin" role="presentation" class="active"><a href="#">权限管理</a></li>
                        <li id="webmsg" role="presentation"><a href="#">站内信</a></li>
                        <li id="mycolloct" role="presentation"><a href="#">我的收藏</a></li>
                    </ul>
                </nav>
                <div id="content" class="u_mainbody" style="overflow: inherit">
                    <div class="user_myprofile user_info_page">
                        <div class="togglebtn clearfix" id="js_tab_ul">
                            <span class="f1"></span>
                            <p class="f1">权限管理</p>
                        </div>
                    </div>
                    <div class="articlectrl">
                        <ol class="article_ol">
                            <li class="article_li">用户名</li>
                            <li class="article_li">昵称</li>
                            <li class="article_li">性别</li>
                            <li class="article_li pull-right">操作</li>
                        </ol>
                        {% for user in userlist %}
                            <ol class="article_ol" id="article_ol">
                                <li class="article_de article_li">{{ user.username }}</li>
                                <li class="article_de article_li">{{ user.nickname }}</li>
                                <li class="article_de article_li">{{ user.user_gender }}</li>
                                <li class="article_de article_li pull-right">
                                    <div class="switch" id="mySwitch">
                                        <input type="checkbox" checked name="{{ user.username }}">
                                    </div>
                                </li>
                            </ol>
                        {% endfor %}
                    </div>
                    <nav aria-label="..." class="split">
                        <ul class="pagination">
                            {% if userlist.has_previous %}
                                <li><a href="?page={{ userlist.previous_page_number }}" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a></li>
                            {% endif %}
                            {% for pg in userlist.paginator.page_range %}
                                {% circle_page userlist.number pg %}
                            {% endfor %}
                            {% if userlist.has_next %}
                                <li>
                                    <a href="?page={{ userlist.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footjs %}
    <script src="{% static 'js/writearticle.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
{% endblock %}
</body>
</html>