{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>文章管理</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/usercenter.css' %}">
    {% endblock %}
</head>
<body>
{% block main %}
    <div id="wrap" class="clearfix">
        <div class="live_wrap clearfix">
            <div class="u_header">
                <h1 class="f1">个人中心</h1>
            </div>
            <div class="u_main clearfix">
                <nav class="u_nav">
                    <div class="photo">
                        <p>
                            <img class="img-circle" src="{% static 'img/0001.jpg' %}">
                        </p>
                        <p>
                            <a href="#">0
                            </a>关注
                            <a href="#">0
                            </a>粉丝
                        </p>
                    </div>
                    <ul class="nav nav-pills nav-stacked" id="funclist">
                        <li id="myinfo" role="presentation"><a href="{% url 'mypersonalblog:usercenter' %}">我的资料</a>
                        </li>
                        <li id="writeblog" role="presentation"><a href="{% url 'mypersonalblog:writeblog' %}">写博客</a>
                        </li>
                        <li id="blogctrl" role="presentation" class="active"><a href="#">文章管理</a></li>
                        <li id="tagctrl" role="presentation"><a href="{% url 'mypersonalblog:tagctrl' %}">标签管理</a></li>
                        <li id="isadmin" role="presentation"><a href="#">权限管理</a></li>
                        <li id="webmsg" role="presentation"><a href="#">站内信</a></li>
                        <li id="mycolloct" role="presentation"><a href="#">我的收藏</a></li>
                    </ul>
                </nav>
                <div id="content" class="u_mainbody" style="overflow: inherit">
                    <div class="user_myprofile user_info_page">
                        <div class="togglebtn clearfix" id="js_tab_ul">
                            <span class="f1"></span>
                            <p class="f1">文章管理</p>
                        </div>
                    </div>
                    <div class="articletype">
                        文章分类：
                        <select class="articletype_s">
                            <option class="articletype_o" value="1">Python</option>
                            <option class="articletype_o" value="2">MySql</option>
                            <option class="articletype_o" value="3">HTML</option>
                            <option class="articletype_o" value="4">CSS</option>
                            <option class="articletype_o" value="5">JavaScript</option>
                        </select>
                    </div>
                    <div class="articlectrl">
                        <ol class="article_ol">
                            <li class="article_li">dasdasfsafasf
                                <div class="pull-right">
                                    <a>修改</a>
                                    <a>删除</a>
                                </div>
                            </li>
                            <li class="article_li">sagfadsgasgsag
                                <div class="pull-right">
                                    <a>修改</a>
                                    <a>删除</a>
                                </div>
                            </li>
                            <li class="article_li">asgasgasgasgsd
                                <div class="pull-right">
                                    <a>修改</a>
                                    <a>删除</a>
                                </div>
                            </li>
                            <li class="article_li">sdgsdgsdgshgrew
                                <div class="pull-right">
                                    <a>修改</a>
                                    <a>删除</a>
                                </div>
                            </li>
                            <li class="article_li">zhdfhdfhdfhdfh
                                <div class="pull-right">
                                    <a>修改</a>
                                    <a>删除</a>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <nav aria-label="..." class="split">
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span
                                    aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#" aria-label="Next"><span
                                    aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>