{% extends 'base.html' %}
{% load static %}
{% load pagetag %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>个人中心</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/usercenter.css' %}">
    {% endblock %}
</head>
{% block main %}
    <div id="wrap" class="clearfix">
        <div class="live_wrap clearfix">
            <div class="u_header">
                <h1 class="f1">个人中心</h1>
            </div>
            <div class="u_main clearfix">
                <nav class="u_nav">
                    <div class="photo">
                        <p>
                            <img class="img-circle" src="{% static 'img/0001.jpg' %}">
                        </p>
                        <p>
                            <a href="#">0
                            </a>关注
                            <a href="#">0
                            </a>粉丝
                        </p>
                    </div>
                    <ul class="nav nav-pills nav-stacked" id="funclist">
                        <li id="myinfo" role="presentation" class="active">
                            <a href="{% url 'mypersonalblog:usercenter' %}"><span class="glyphicon glyphicon-user"
                                                                                  aria-hidden="true"></span> 我的资料</a>
                        </li>
                        <li id="writeblog" role="presentation"><a href="{% url 'mypersonalblog:writeblog' 0 %}">写博客</a>
                        </li>
                        <li id="blogctrl" role="presentation"><a
                                href="{% url 'mypersonalblog:articlectrl' '?page=1' %}">文章管理</a></li>
                        <li id="tagctrl" role="presentation"><a href="{% url 'mypersonalblog:tagctrl' %}">标签管理</a></li>
                        <li id="isadmin" role="presentation"><a href="{% url 'mypersonalblog:adminctrl' %}">权限管理</a>
                        </li>
                        <li id="webmsg" role="presentation"><a href="#">站内信</a></li>
                        <li id="mycolloct" role="presentation"><a href="#">我的收藏</a></li>
                    </ul>
                </nav>
                <div id="content" class="u_mainbody" style="overflow: inherit">
                    <div class="user_myprofile user_info_page">
                        <div class="togglebtn clearfix" id="js_tab_ul">
                            <span class="f1"></span>
                            <p class="f1">我的资料</p>
                        </div>
                        <div class="myprofile_main clearfix data_cont white_bg" id="js_info_div">
                            <div class="userinfo clearfix">
                                <div class="uinfo_left f1">
                                    <div class="utx f1">
                                        <a href="#">
                                            <img src="{% static 'img/0001.jpg' %}" width="120px" height="120px">
                                        </a>
                                    </div>
                                    <div class="f1 udetail_info">
                                        <div class="uname clearfix">
                                            <h2 class="f1 clearfix" style="float: left;">{{ userinfo.nickname }}</h2>
                                            <a href="#" class="updateUname clearfix">
                                                <i title="修改昵称"></i>
                                            </a>
                                        </div>
                                        <div class="m_rank clearfix">
                                            <div class="m_rank_item">
                                                <span class="m_rank_item_title">用户等级</span>
                                                <span class="user_level">Lv{{ userinfo.user_lv }}</span>
                                                <div class="progress">
                                                    <div class="progress-bar bar" role="progressbar"
                                                         aria-valuenow="{% divi userinfo.user_points userinfo.user_lv %}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {% divi userinfo.user_points userinfo.user_lv %}%;min-width:2em;">
                                                        {% divi userinfo.user_points userinfo.user_lv %}%
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="m_rank_item_title">积分：{{ userinfo.user_points }}</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="modifyinfo">修改资料</a>
                                </div>
                            </div>
                            <div class="mobile_email clearfix">
                                <div class="mobile_email_title clearfix">
                                    <p class="userdata_set f1">账号设置</p>
                                </div>
                                <ul class="user_check_total clearfix">
                                    <li class="user_check_detial user_check_detial_left f1">
                                        <div class="user_check_message f1">
                                            <p class="user_phonenum user_infoshow">手机已绑定</p>
                                            <p class="info_tips">{{ userinfo.user_tel }}</p>
                                        </div>
                                        <a href="{% url 'mypersonalblog:modify_tel' %}"
                                           class="user_check_link updateMobile f1 checkphone">修改手机</a>
                                    </li>
                                    <li class="user_check_detial f1">
                                        <div class="user_check_message f1">
                                            <p class="user_pwdlv user_infoshow">密码强度(中)</p>
                                            <p class="info_tips">请提升密码等级</p>
                                        </div>
                                        <a href="{% url 'mypersonalblog:modify_pwd' %}"
                                           class="user_check_link updateMobile f1 checkphone">修改密码</a>
                                    </li>
                                    <li class="user_check_detial user_check_detial_left f1">
                                        <div class="user_check_message f1">
                                            <p class="user_emailstatus user_infoshow">邮箱已绑定</p>
                                            <p class="info_tips">{{ userinfo.user_eml }}</p>
                                        </div>
                                        <a href="#" class="user_check_link updateMobile f1 checkphone">修改邮箱</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</html>