{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>个人中心</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/astyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/usercenter.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <script src="{% static 'js/warning.js' %}"></script>
    <script src="{% static 'js/blog.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only"> toggle nacigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Simon</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#个人日记">
                                个人日记
                            </a>
                        </li>
                        <li>
                            <a href="#技术交流">
                                技术交流
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">技术杂谈<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">python</a></li>
                                <li><a href="#">html</a></li>
                                <li><a href="#">mysql</a></li>
                                <li><a href="#">css</a></li>
                                <li><a href="#">js</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#关于我">
                                关于我
                            </a>
                        </li>
                    </ul>
                    <ul id="rightbox" class="pull-right" style="height: 30px; width: 400px; margin: 0">
                        <form class="navbar-form pull-left col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="submit" class="btn btn-default pull-right">搜索</button>
                            </div>
                        </form>
                        {% if not user_id %}
                            <div id="loginbox" class="pull-right">
                                <div id="login">
                                    <li class="nav navbar-text pull-right navbar-collapse collapse">
                                        <a href="{% url 'mypersonalblog:login' %}" class="navbar-link">
                                            登录
                                        </a>
                                    </li>
                                </div>
                                <div id="register">
                                    <li class="nav navbar-text pull-right navbar-collapse collapse">
                                        /<a href="{% url 'mypersonalblog:register' %}" class="navbar-link">
                                        注册
                                    </a>
                                    </li>
                                </div>
                            </div>
                        {% else %}
                            <div id="img" class="pull-right" style="margin: 5px">
                                <li class="dropdown nav pull-right navbar-collapse collapse">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <figure>
                                            <img class="img-circle" src="{% static 'img/001.jpg' %}"/>
                                        </figure>
                                        <ul class="dropdown-menu">
                                            <li><a>您好，{{ userinfo.nickname }}！</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Lv0</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">个人中心</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{% url 'mypersonalblog:logout' %}">
                                                安全退出
                                            </a></li>
                                        </ul>
                                    </a>
                            </div>
                            </ul>
                            </div>
                        {% endif %}
            </div>
        </nav>
    </div>
</div>
<div id="wrap" class="clearfix">
    <div class="live_wrap clearfix">
        <div class="u_header">
            <h1 class="f1">个人中心</h1>
        </div>
        <div class="u_main clearfix">
            <nav class="u_nav">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">我的资料</a></li>
                    <li role="presentation"><a href="#">站内信</a></li>
                    <li role="presentation"><a href="#">我的收藏</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div>
    <footer class="mastfooter">
        <p>Copyright&copy; 1993-2018 by <a href="#">Simon</a></p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'css/bootstrap.css' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/workround.js' %}"></script>
</div>
</body>
</html>